DATABASE_URL=postgresql://postgres:your-password@db.your-project-ref.supabase.co:5432/postgres
JWT_SECRET=change-me
ADMIN_PASSWORD=ipl2026
ADMIN_USERNAME=Admin
ADMIN_DEFAULT_PW=admin123
PORT=3001

# Cricbuzz Automation (RapidAPI)
RAPIDAPI_KEY=81607c17aamsh0f7d84e6d79c847p10c3c2jsnd4a72d8a3ddd
RAPIDAPI_HOST=free-cricbuzz-cricket-api.p.rapidapi.com
